# Imports

In [1]:
import pandas as pd

In [2]:
IS_DEEPNOTE = False

# Load Data from openbondassetpricing.com

For the definitions of the features, refer to the pdf in the `docs` folder

In [3]:
def load_bond_data(fetch_online: bool = False) -> pd.DataFrame: 
    """
    Returns WRDS bond data as pandas dataframe.
    
    Parameters
    ----------
    fetch_online: bool, optional. Whether to fetch online bond data or to take from the data folder.

    Returns
    -------
    pd.DataFrame: bond data
    """

    if fetch_online: 
        _url = "https://openbondassetpricing.com/wp-content/uploads/2024/04/WRDS_MMN_Corrected_Data_2024.csv"
    else: 
        _url = "../data/WRDS_MMN_Corrected_Data_2024.csv"

    # url to fetch
    bond_data = pd.read_csv(_url, index_col=0)

    return bond_data

In [4]:
data = load_bond_data()

data.head()

,date,cusip,exretn_t+1,exretnc_t+1,exretnc_dur_t+1,bond_ret_t+1,bond_ret,exretn,exretnc_dur,rating,...,PRFULL,DURATION,CONVEXITY,CS_6M_DELTA,bond_value,BOND_VALUE,coupon,bond_type,principal_amt,bondpar_mil
0,2002-08-31,000336AE7,-0.056089,-0.087082,-0.081158,-0.054689,-0.008212,-0.009612,-0.023343,8.0,...,103.753460,4.635930,26.445978,NaN,9769300.0,10209200.0,6.875,CDEB,1000.0,100.0
5794,2002-09-30,000336AE7,0.050663,0.057193,0.054383,0.052063,-0.054689,-0.056089,-0.081158,8.0,...,99.138889,4.514543,25.309944,NaN,9169149.0,9700000.0,6.875,CDEB,1000.0,100.0
11572,2002-10-31,000336AE7,0.079680,0.098591,0.095571,0.080880,0.052063,0.050663,0.054383,10.0,...,100.288197,4.428541,24.496262,NaN,9600000.0,9750000.0,6.875,CDEB,1000.0,100.0
17371,2002-11-30,000336AE7,NaN,NaN,NaN,NaN,0.080880,0.079680,0.095571,10.0,...,103.361111,4.374959,23.981731,NaN,10343100.0,10000000.0,6.875,CDEB,1000.0,100.0
23064,2002-12-31,000336AE7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,...,84.440971,4.321904,22.989123,NaN,NaN,8425000.0,6.875,CDEB,1000.0,100.0

In [6]:
data['date'] = pd.to_datetime(data['date'])

In [7]:
data2 = pd.read_csv("../data/wrds_bond_data.csv.gz")

C:\Users\andre\AppData\Local\Temp\ipykernel_10908\2245748988.py:1: DtypeWarning: Columns (54,55,56,57) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("../data/wrds_bond_data.csv.gz")

Loading the other file from WRDS

In [8]:
data2.head()

,DATE,ISSUE_ID,CUSIP,bond_sym_id,bsym,ISIN,company_symbol,BOND_TYPE,SECURITY_LEVEL,CONV,...,RET_LDM,RET_L5M,TMT,REMCOUPS,DURATION,DEFAULTED,DEFAULT_DATE,DEFAULT_TYPE,REINSTATED,REINSTATED_DATE
0,2002-07-31,2,000361AB1,AIR.GA,NaN,US000361AB18,AIR,CDEB,SEN,0,...,NaN,NaN,1.23,3.0,1.13,N,NaN,NaN,NaN,NaN
1,2002-08-31,2,000361AB1,AIR.GA,NaN,US000361AB18,AIR,CDEB,SEN,0,...,NaN,NaN,1.14,3.0,1.05,N,NaN,NaN,NaN,NaN
2,2002-09-30,2,000361AB1,AIR.GA,NaN,US000361AB18,AIR,CDEB,SEN,0,...,NaN,NaN,1.06,3.0,0.97,N,NaN,NaN,NaN,NaN
3,2002-11-30,2,000361AB1,AIR.GA,NaN,US000361AB18,AIR,CDEB,SEN,0,...,NaN,NaN,0.89,2.0,0.84,N,NaN,NaN,NaN,NaN
4,2002-12-31,2,000361AB1,AIR.GA,NaN,US000361AB18,AIR,CDEB,SEN,0,...,NaN,NaN,0.80,2.0,0.75,N,NaN,NaN,NaN,NaN

In [9]:
data2['DATE'] = pd.to_datetime(data2['DATE'])

In [11]:
merged_bonds_data = pd.merge(data,data2, how='left', left_on=['cusip', 'date'], right_on=['CUSIP', 'DATE'])

In [15]:
merged_bonds_data.to_hdf('../data/bond_data_final.hdf5', key='bond_data', complevel=7, format='table')